---
import Layout from "../layouts/Layout.astro";
import Rounded from "../components/Rounded.astro";
import Nextbut from "../components/nextbut.astro";

---
<style>
    .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    li {
        font-size: 1.35rem;
        margin-bottom: 0.75rem;
    }
    /* Center the H1 */
    h1 {
        font-size: 3rem;
        text-align: center;
    }

</style>
<Layout title="Brief">
  <Rounded>
    <h1>Quick Facts:</h1>
    <br>
    <ul>
      <li>
        Cybercriminals actively target companies operating in the field of
        telecommunications, financial services, and energy with 56%, 55%, and
        54% of the companies operating in these sectors having experienced a
        cyberattack within a year respectively.
      </li>
      <li>
        According to Accenture, from 2019 to 2023, the global business may lose
        up to $5.2 trillion due to cybercrimes and the annual losses are likely
        to continue increasing
      </li>
      <li>
        Corporate networks of almost every business are vulnerable to
        penetrations. Hackers use different techniques to access corporate
        networks but, in most cases, skilled black hat specialists can crack
        corporate systems by spending minimum time. According to the security
        investigation carried out by the security firm Positive Technologies,
        71% of companies have at least 1 obvious weakness that can easily enable
        hackers to access networks.
      </li>
      <li>
        Companies also often neglect the importance of regular security software
        updates. As a result, hackers can exploit known vulnerabilities. For
        example, web applications may contain known vulnerabilities and hackers
        can simply use public exploits to compromise systems
      </li>
      <li>
        a large share of successful cyberattacks occurs due to the exploitation
        by hackers of social engineering techniques in the form of creating
        phishing messages. In the era of digital transformation and the growing
        popularity of social media communication, phishing attacks have become
        one of the most widespread and, at the same time, one of the most
        effective tools in the hands of hackers to compromise victims’ systems
      </li>
    </ul>
    <div class="center">
    <Nextbut url="/Common" size="50"></Nextbut>
    <br>
  </div>
  </Rounded>
</Layout>

