---
import Layout from "../layouts/Layout.astro";
import Rounded from "../components/Rounded.astro";
import Nextbut from "../components/nextbut.astro";
---

<style>
  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text {
    padding: 1rem;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  hgroup {
    text-align: center;
  }
  li {
    padding: 0.5rem;
  }
</style>

<Layout title="Common Techinques">
  <Rounded>
    <div class="text">
      <hgroup>
        <h1>Common Penetration Techinques:</h1>
        <p>Click on each one to know more</p>
      </hgroup>
      <ul>
        <li><a href="/techniques/Fake-Wap">Fake WAP</a></li>
        <li><a href="/techniques/Bait">Bait and switch</a></li>
        <li><a href="/techniques/Credential">Credential reuse</a></li>
        <li><a href="/techniques/SQL">SQL injection</a></li>
        <li><a href="/techniques/Browser">Browser locker</a></li>
        <li><a href="/techniques/Macro">Macro malware in documents</a></li>
        <li><a href="/techniques/Cookie">Cookie theft / sidejacking / session hijacking</a></li>
        <li><a href="/techniques/Iot">IoT attacks</a></li>
        <li><a href="/techniques/DDoS">DDoS attacks</a></li>
        <li><a href="/techniques/Phishing">Phishing</a></li>
        <li><a href="/techniques/Clickjacking">Clickjacking/UI redress</a></li>
        <li><a href="/techniques/Man">Man-in-the-middle attack</a></li>
        <li><a href="/techniques/Cross">Cross-site scripting</a></li>
        <li><a href="/techniques/DNS">DNS spoofing</a></li>
        <li><a href="/techniques/Watering">Watering hole attack</a></li>
        <li><a href="/techniques/Keylogger">Keylogger attack</a></li>
        <li><a href="/techniques/Brute">Brute force attack</a></li>
        <li><a href="/techniques/Dictionary">Dictionary attack</a></li>
      </ul>
      <div class="center">
        <Nextbut url="/Prevention" size="50" />
      </div>
    </div>
  </Rounded>
</Layout>
