---
import Layout from "../layouts/Layout.astro";
import Rounded from "../components/Rounded.astro";
---

<style>
  .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2rem;
  }
</style>

<Layout title="Welcome to Astro.">
  <Rounded>
    <div class="text">
      <h1>Ethical Hacking</h1>
      <h3>
        The Thing that can prevent business from losing $5.2 trillion due to
        cybercrimes
      </h3>
      <a href="/test" data-swup-preload>hmm yes</a>
    </div>
  </Rounded>
  
</Layout>
