---
import Layout from "../layouts/Layout.astro";
import Rounded from "../components/Rounded.astro";
import Nextbut from "../components/nextbut.astro";
---

<style>
  .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2rem;
  }
</style>

<Layout title="Ethical Hacking">
  <Rounded>
    <div class="text">
      <h1>Ethical Hacking</h1>
      <h3>
        The Thing that can prevent businesses from losing $5.2 trillion due to
        cybercrimes
      </h3>
      <br>
      <Nextbut url="/Brief" size="50"/>
    </div>
  </Rounded>
  
</Layout>
