---
import Layout from "../layouts/Layout.astro";
import Nextbut from "../components/nextbut.astro";
import Rounded from "../components/Rounded.astro";
---

<Layout title="Prevention">
    <Rounded>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ratione laboriosam corrupti cum excepturi sequi placeat eius rem voluptate accusamus sed autem aspernatur culpa praesentium soluta quod pariatur, ullam et.</h1>
        <Nextbut url="/" size="50">
        </Nextbut>
    </Rounded>
</Layout>