---
import Layout from "../../layouts/Layout.astro";
import Rounded from "../../components/Rounded.astro";
import Nextbut from "../../components/nextbut.astro";
---

<style>
  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1{
    text-align: center;
  }
  h1{
    font-size: 3rem;
  }
  h3{
    font-size: 1.5rem;
  }
  .content {
    padding: 1rem;
  }
</style>
<Layout title="Credential reuse">
  <Rounded>
<div class="content">

  <h1>Credential Reuse:</h1>
  <br />
  <h3>
  Credential reuse is the practice of using the same username and password combination across multiple online accounts. While it may be convenient to use the same login credentials for multiple accounts, it can also be very risky.<br><br>
  If an attacker is able to obtain a user's login credentials for one account, they can then try to use those same credentials to log into other accounts associated with the same email address or username. This is particularly dangerous if the user has reused their password for their email account, as the attacker could potentially gain access to a treasure trove of sensitive information and other accounts by resetting passwords and intercepting account verification emails.<br><br>
  
  Credential reuse is a common problem, and it is often the result of users choosing weak or easily guessable passwords, or simply using the same login credentials out of habit. In order to protect themselves from credential reuse attacks, users should create unique and complex passwords for each of their accounts, and avoid using the same password for multiple accounts. They should also enable two-factor authentication (2FA) whenever possible, as this can provide an extra layer of security that makes it more difficult for attackers to gain access to accounts even if they have obtained login credentials.<br><br>
  
  To check if your accounts have been compromised in a credential reuse attack, you can use tools like Have I Been Pwned or Google's Password Checkup. These services can scan your accounts and alert you if your login credentials have been exposed in a data breach or other security incident. If your accounts have been compromised, you should immediately change your passwords and enable 2FA to protect yourself from further attacks.<br><br>
  
  </h3>

</div>
    <br>
    <div class="center">
      <Nextbut url="/Common" size="50" />
    </div>
    <br>
  </Rounded>
</Layout>
