---

---

<div class="whole">
    <div class="box">
            <slot/>
    </div>
    <br>
</div>

<style>
    div.whole{
        width: 100%;
        height: fit-content;
    }
    div.box{
        border: 2px solid black;
        width: 95%;
        height: 95%;
        margin:2.5%; 
        border-radius: 25px;
    }
</style>